extends layout

block page_title
  title Αυτή είναι η σελίδα τίτλου μου

block greeting
  h1 Γεια σου κόσμε

block software_engineer
  p Σύντομα θα γίνω μηχανικός λογισμικού!
  img(src="/images/earth.jpg" alt="Η Γη" title="Η Γη")
